<% doc_presenter = show_presenter(document) %>
<%# default partial to display solr document fields in catalog show view -%>
<div>
    <div class="glyph fs1 pull-right">
         <div class="clearfix">
           <% formaticon = doc_presenter.field_value "docTypeDescription"
              formaticon = formaticon.gsub(/\s+/, "") %>
             <svg class="icon icon-<%= formaticon %>" aria-hidden="true" aria-hidden="true" data-toggle="tooltip" data-trigger="click hover" data-placement="bottom" title="<%= doc_presenter.field_value "docTypeDescription" %>"><use xlink:href="#icon-<%= formaticon %>"></use></svg><span class="sr-only"> <%= doc_presenter.field_value "docTypeDescription" %></span>
         </div>
     </div>
     <%= render_document_heading(document, :tag => :h1) %>
</div>
<dl class="row dl-invert">
	    <dt class="blacklight-authors col-md-2">Author(s):</dt>
	    <dd class="blacklight-authors col-md-10"><%= doc_presenter.field_value "authors" %></dd>
        <dt class="blacklight-pubname col-md-2">Published in:</dt>
        <dd class="blacklight-pubname col-md-10"><%= doc_presenter.field_value "pubName" %><% unless (doc_presenter.field_value "volume").empty? %>, Vol. <%= doc_presenter.field_value "volume" %><% end -%><% unless (doc_presenter.field_value "issue").empty? %>, Issue <%= doc_presenter.field_value "issue" %><% end -%><% unless (doc_presenter.field_value "pageRange").empty? %>, pp. <%= doc_presenter.field_value "pageRange" %><% end -%></dd>
        <% unless (doc_presenter.field_value "pmid").empty? %><dt class="blacklight-pmid col-md-2">PubMed ID:</dt>
        <dd class="blacklight-pmid col-md-10"><a href="https://www.ncbi.nlm.nih.gov/pubmed/<%= doc_presenter.field_value "pmid" %>"><%= doc_presenter.field_value "pmid" %></a></dd><% end -%>
        <% unless (doc_presenter.field_value "scopus_eid").empty? %><dt class="blacklight-scopus_eid col-md-2">Scopus ID:</dt>
        <dd class="blacklight-scopus_eid col-md-10"><a href="https://www.scopus.com/record/display.uri?eid=<%= doc_presenter.field_value "scopus_eid" %>&origin=resultslist"><%= doc_presenter.field_value "scopus_eid" %></a></dd><% end -%>
        <% unless (doc_presenter.field_value "doi").empty? %><dt class="blacklight-doi col-md-2">DOI:</dt>
        <dd class="blacklight-doi col-md-10"><a href="https://doi.org/<%= doc_presenter.field_value "doi" %>"><%= doc_presenter.field_value "doi" %></a></dd><% end -%>
</dl>
